body{
    background-image: url("imagen/annas-hummingbird-gae3eac03c_1280.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



h1{text-align:center ;

    color:black
 
}